@use "./../../index" as var; // import global variable as an alias
/*************** Medium Screen size ***************/
@mixin tablet {
    @media screen and (max-width: 1024px) {
        @content;
    }
}

/*************** Mobile Screen size ***************/
@mixin mobile {
    @media screen and (max-width: 720px) {
        @content;
    }
}

footer {
    margin-top: 10rem;
}

.footer__container {
    margin-top: 3rem;
    align-items: center;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    @include tablet(){
        grid-template-columns: repeat(1, 1fr);
    }
    h1 {
        margin-block: .5rem;
    }
    .terms {
        display: flex;
        gap: 5rem;
        align-items: center;
        margin: 0 auto;
        cursor: pointer;
        a {
            color: var.$colorGray100;
            transition: var.$transition;

            &:hover {
                color: var.$secondaryColorLight;
                transition: var.$transition;
                
            }
        }
        @include tablet {
            flex-direction: column;
            gap: 2rem;
        }
    }

    .socials__container {
        display: flex;
        gap: 8rem;
        align-items: center;
        margin: 2rem 0;
        justify-content: space-between;
        @include tablet{
            flex-direction: column;
            gap: 3rem;
        }
        @include mobile{
            gap: 3rem;
        }

        .footer__socials  {
            display: flex;
            gap: 2rem;
            color: var.$colorWhite;
            margin-left: 5rem;
            a {
                color: var.$colorWhite;
            }
            @include tablet {
                margin-left: 3rem;
            }
            @include mobile {
                margin-left: 2rem;
            }
        }
    }

    .footer__end {
        margin: -2rem auto 2rem;
        text-align: center;
        span {
            color: var.$secondaryColor;
        }
    }
}